@import "https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css";

* {
  box-sizing: border-box;
}

input {
  all: unset;
  box-sizing: border-box;
  appearance: none;
}

body {
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu , Cantarell ,  "Open Sans" ,  "Helvetica Neue" , sans-serif;
  font-size: 14px;
  color: black;
}

button {
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}

img{
  border-radius: 10px;
}

nav > ul > li{
  position: relative;
  width: 60px;
  text-align: center;
}

#loader_back{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
#loader_img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  transition: opacity 1.2s ease-in-out;
}
.ready{
  opacity: 0;
}

.user_name{
  position: absolute;
  width: max-content;
  top: 100%;
}

.tweet{
  position: relative;
  border-bottom: 1px solid rgb(239 239 239);
  padding: 15px;
}
.tweet:first-of-type{
  border-top: 1px solid rgb(239 239 239);
}
.tweet:last-of-type{margin-bottom: 50px;}

.tweet-input::placeholder {
  color: #666;
  opacity: 0.9;
}
.tweet_top{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.tweet_info{
  width: calc(100% - 50px);
  margin-left: 6px;
}
.tweet_author{
  font-weight: 500;
  margin-bottom: 5px;
}
.tweet_author > .name{
  display: inline-block;
  max-width: calc(100% - 110px);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: bottom;
  line-height: 16px;
}
.tweet_author > span{
  font-size: 12px;
  color: #666;
}



.container {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.container.profile{
  padding: 0 15px;
}

.formInput {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid #999;
  text-align: center;
  color: black;
  margin-bottom: 5px;
}
.formInput.edit{
  text-align: initial;
}

.formBtn {
  cursor: pointer;
  width: 100%;
  padding: 10px 20px;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: #04aaff;
  line-height: 19px;
}

.cancelBtn {
  cursor: pointer;
  background-color: #999;
}

/* Profile Page */

.profileForm {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logOut {
  margin-top: 50px;
}

/* Nwitter Factory */

.factoryForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 15px;
}

.factoryInput_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}

.factoryInput_input {
  flex-grow: 1;
  height: 40px;
  padding: 0px 20px;
  color: white;
  border: 1px solid #04aaff;
  border-radius: 20px;
  font-weight: 500;
  font-size: 12px;
}

.factoryInput_arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  background-color: #04aaff;
  height: 34px;
  width: 34px;
  text-align: center;
  border-radius: 20px;
  color: white;
  cursor: pointer;
}

.factoryInput_label {
  color: #04aaff;
  cursor: pointer;
}

.factoryInput_label span {
  margin-right: 10px;
  font-size: 13px;
}

.factoryForm_attachment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.factoryForm_attachment img {
  width: 100%;
  margin: 20px 0 10px;
}

.factoryForm_clear,
.new_clear {
  color: #04aaff;
  cursor: pointer;
  text-align: center;
}

.factoryForm_clear span,
.new_clear span {
  margin-right: 10px;
  font-size: 12px;
}

.tweetInput{
  border: 1px solid #999;
  padding: 7px 10px;
  width: calc(100% - 50px);
}
/* Get */

.tweetEdit .formBtn {
  margin-top: 15px;
  margin-bottom: 5px;
  border: none;
}
.tweetEdit > .tweetInput{
  width: 100%;
}

.have {
  margin-bottom: 20px;
  background-color: white;
  width: 100%;
  max-width: 320px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.8);
}

.tweet h4.text {
  margin-bottom: 5px;
  font-size: 15px;
  word-break: break-word;
  line-height: 18px;
}
.tweet h4.date{
  margin-bottom: 10px;
  font-size: 14px;
}
.tweet img{
  width: 100%;
}

.have img  {
  right: -10px;
  top: 20px;
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-top: 10px;
}

.tweet_actions {
  position: absolute;
  top: 15px;
  right: 15px;
}

.tweet_actions span {
  cursor: pointer;
}

.tweet_actions span:first-child {
  margin-right: 10px;
}

.tweet_actions svg{
  color: #444;
}

/* Auth */

.authContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.authBtns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 320px;
}

.authBtn {
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 10px 0px;
  font-size: 12px;
  text-align: center;
  width: 150px;
  background: #999;
  cursor: pointer;
}

/* AuthForm */

.authInput {
  max-width: 320px;
  width: 100%;
  padding: 10px 20px;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: 10px;
  font-size: 14px;
  color: black;
  text-align: initial;
  border: 1px solid #999;
}

.authSubmit {
  text-align: center;
  background: #04aaff;
  color: white;
  margin-top: 10px;
  padding: 13px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

.authError {
  color: tomato;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.authSwitch {
  color: #04aaff;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 50px;
  display: block;
  font-size: 13px;
  text-decoration: underline;
}

.img_wrap{
  position: relative;
}

.img_delete{
  position: absolute;
  width: 24px;
  height: 24px;
  z-index: 100;
  right: 0;
  /* color: black; */
  cursor: pointer;
  margin: 5px;
}
.img_delete > svg{
  background: #FFF;
  border-radius: 12px;
}
.new_attach{
  text-align: center;
}
.photo_wrap{
  text-align: center;
  padding: 25px 0 15px;
}
.photo_big,
.photo_small{
  position: relative;
  background-color: #04aaff;
  border-radius: 50%;
}
.photo_big > .profile_photo,
.photo_small > .profile_photo{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  color: #FFF;
  text-align: center;
}
.photo_big{
  width: 120px;
  height: 120px;
  margin: auto;
}
.photo_small{
  width: 50px;
  height: 50px;
}
.photo_big > .profile_photo{
  font-size: 3em;
  font-weight: 600;
}
.photo_small > .profile_photo{
  font-size: 1em;
  font-weight: 600;
}
.profile_photo > img{
  width: 100%;
  margin: auto;
}